<ion-view title="{{navTitle}}" hide-nav-bar="false" hide-back-button="false">
  
  <ion-content>
  	<div class="content">
        <ion-list>
            <div class="list list-inset" style="margin-top:10px;">
              <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="חפש אטרקצייה" style="text-align:right; padding-right:15px">
              </label>
            </div>
            <div style="width:100%" align="center">
                <div class="cubes">
                    <div class="cubesRow">
                        <div class="cubeItem" ng-click="NavigateUrl(1)" >
                            <img src="img/area/t1.png" />
                        </div>
                        <div class="cubeItem" ng-click="NavigateUrl(2)">
                            <img src="img/area/t2.png" />
                        </div>
                        <div class="cubeItem" ng-click="NavigateUrl(3)">
                            <img src="img/area/t3.png" />
                        </div>
                    </div>
                    
                    <div class="cubesRow">
                        <div class="cubeItem" ng-click="NavigateUrl(1)">
                            <img src="img/area/t4.png" />
                        </div>
                        <div class="cubeItem" ng-click="NavigateUrl(1)">
                            <img src="img/area/t5.png" />
                        </div>
                        <div class="cubeItem" ng-click="NavigateUrl(1)">
                            <img src="img/area/t6.png" />
                        </div>
                    </div>
                    
                    <div class="cubesRow">
                        <div class="cubeItem" ng-click="NavigateUrl(1)">
                            <img src="img/area/t7.png" />
                        </div>
                        <div class="cubeItem" ng-click="NavigateUrl(1)">
                            <img src="img/area/t8.png" />
                        </div>
                        <div class="cubeItem" ng-click="NavigateUrl(1)">
                            <img src="img/area/t9.png" />
                        </div>
                    </div>
                    <div class="banner">
                        <img src="img/banner/r1.jpg" />
                    </div>
                </div>
           </div>
        </ion-list>
     </div>
  </ion-content>
</ion-view>
