<ion-view title="{{navTitle}}" hide-nav-bar="false" hide-back-button="false">
  
  <ion-content>
  	<div class="content">
        <ion-list>
            <div class="list list-inset" style="margin-top:10px;">
              <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="חפש אטרקצייה" style="text-align:right; padding-right:15px">
              </label>
            </div>
            <div style="width:100%" align="center">
                <div class="cubes">
                    <div class="cubesRow">
                        <div class="whereItem" ng-click="NavigateUrl(1)" >
                            <img src="img/where/i1.png" />
                        </div>
                        <div class="whereItem" ng-click="NavigateUrl(2)" >
                            <img src="img/where/i2.png" />
                        </div>
                        <div class="whereItem" ng-click="NavigateUrl(3)" >
                            <img src="img/where/i3.png" />
                        </div>
                        <div class="whereItem" ng-click="NavigateUrl(4)" >
                            <img src="img/where/i4.png" />
                        </div>
                    </div>
                    
                    <div class="cubesRow">
                        <div class="whereItem" ng-click="NavigateUrl(5)" >
                            <img src="img/where/i5.png" />
                        </div>
                        <div class="whereItem" ng-click="NavigateUrl(6)" >
                            <img src="img/where/i6.png" />
                        </div>
                        <div class="whereItem" ng-click="NavigateUrl(7)" >
                            <img src="img/where/i7.png" />
                        </div>
                         <div class="whereItem" ng-click="NavigateUrl(8)" >
                            <img src="img/where/i8.png" />
                        </div>
                    </div>
                    
                    <div class="cubesRow">
                        <div class="whereItem" ng-click="NavigateUrl(1)" >
                            <img src="img/where/i9.png" />
                        </div>
                        <div class="whereItem" ng-click="NavigateUrl(1)" >
                            <img src="img/where/i10.png" />
                        </div>
                        <div class="whereItem" ng-click="NavigateUrl(1)" >
                            <img src="img/where/i11.png" />
                        </div>
                         <div class="whereItem" ng-click="NavigateUrl(1)" >
                            <img src="img/where/i12.png" />
                        </div>
                    </div>
                    <div class="banner">
                        <img src="img/banner/r2.jpg" />
                    </div>
                </div>
           </div>
        </ion-list>
     </div>
  </ion-content>
</ion-view>
