/* Empty. Add your own CSS if you like */

body
{
	
}

.content
{
	background-image:url("../img/pattern/p2.png");
	padding-bottom:20px;
}
.title-image
{
	width:40%;
	margin-right:10%;
}

.cubes
{
	width:95%;
	margin-top:-10px;
	margin-left:1%;
}

.cubesRow
{
	width:100%;
	overflow:hidden;
	margin-top:0px;
}

.cubeItem
{
	width:32%;
	float:left;
	margin-right:0.5%;
	margin-left:0.5%;
}

.whereItem
{
	width:24%;
	float:left;
	margin-right:0.5%;
	margin-left:0.5%;
}

.whereItem img
{
	width:100%;
}

.cubeItem img
{
	width:100%;
}

.banner
{
	margin-top:10px;
}
.banner img
{
	width:100%;
}



/* List Page*/

.rowDiv
{
	overflow:hidden;
	width:100%;
	margin-top:20px;
	text-align:right;
}

.LeftRowDiv
{
	width:25%;
	float:left
}

.RightRowDiv
{
	width:30%;
	float:right
}

.CenterRowDiv
{
	width:60%;
	float:right;
	margin-right:8px;
	margin-top:10px;
}

#rowName
{
	color:#22aab0;
	font-size:19px;
	font-weight:bold;
}

#rowTitle
{
	margin-top:-5px;
	direction:rtl;
	color:#858585;
	font-size:15px;
}

#rowAdress
{
	margin-top:-7px;
	direction:rtl;
	color:#858585;
	font-size:13px;
}

#favText
{
	font-size:12px;
	text-align:center;
	font-weight:bold;
	color:#f1ae0d;
}


.headerIcons
{
	position:relative; 
	left:10px;
}

.headerIcons i
{
	font-size:30px !important;
	color:black;
}


/*  Needy */


/* Empty. Add your own CSS if you like */


.bar-header 
{
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
	
	 -moz-box-shadow: 0 0 3px #999;
	 -webkit-box-shadow: 0 0 3px #999;
     box-shadow: 0 0 3px #999;
}


.content
{
	background-color:#e4e9ea;
}

.content_white
{
	background-color:#fff;
}

.headerIcons
{
	position:relative; 
	left:10px;
}

.headerIcons i
{
	font-size:30px !important;
	color:black;
}

/* Menu Page*/
.menuHeaderText
{
	color:white;
	margin-top:-60px;
	text-align:right;
	direction:rtl;
	padding-right:10px;
}

.MenuItem
{
	text-align:right !important;
	direction:rtl;
}

.menuLine
{
	width:100%;
	height:1px;
	background-color:#e4e9ea;
}
/* Deals Page */

.fullImage
{
	width:100%;
	padding:0px;
	margin:0px;
}

.cardTitle
{
	text-align:right;
	direction:rtl;
	font-size:13px !important;
	color:#999 !important;
	margin-top:2px !important;
}

.cardDesc
{
	text-align:right;
	direction:rtl;
}


.cardPrice
{
	text-align:left;
	font-size:17px;
	margin-right:10px;
	color:#CCC;
	margin-top:-7px;
	width:100%;
	direction:rtl;
}

#newPrice
{
	text-decoration:line-through;
}
#oldPrice
{
	color:#d6a82a;
	font-weight:bold;
}

.cardLine
{
	background-color:#CCC;
	width:100%;
	height:0.8px;
	margin-top:3px;
	margin-bottom:-13px;
}

.cardIcons
{
	text-align:left;
	direction:rtl;
	margin-bottom:-10px !important;
	padding-bottom:0px !important;
	margin-top:-10px;
}

.DealMainImage
{
	width:100%;
	background-color:white;
	 -moz-box-shadow: 0 0 3px #999;
	 -webkit-box-shadow: 0 0 3px #999;
     box-shadow: 0 0 3px #999;
}

.DealMainInfo
{
	width:100%;
	background-color:white;
	text-align:right;
	direction:rtl;
	padding:15px;
	 -moz-box-shadow: 0 0 3px #999;
	 -webkit-box-shadow: 0 0 3px #999;
     box-shadow: 0 0 3px #999;
}

/* Deal Page */

.DealPageTitle
{
	text-align:right; 
	padding:15px;
	direction:rtl;
}

.DelaInfo
{
	text-align:right;
	direction:rtl;
	padding-top:8px !important;
	padding-bottom:8px;
}


/* Profile Page */

.blueHeader
{
	width:100%;
}

.profileTabs
{
	 -moz-box-shadow: 0 0 3px #999;
	 -webkit-box-shadow: 0 0 3px #999;
     box-shadow: 0 0 3px #999;
	 position:relative;
	 z-index:-1;
	 margin-top:-6px !important;
}

.tabs .tab-item 
{    
    max-width: none;
}

.buttonsContainer
{
	width:100%; 
	margin-top:-60px; 
	position:absolute;
}

.buttonsContainerDiv
{
	width:90%;
	overflow:hidden;
	left:5%;
	position:relative;
}

.profileButtonLeft
{
	width:49%;
	float:left;
}

.profileButtonRight
{
	width:49%;
	float:right;
}

.profileButton
{
	border:1px solid white;
	padding:4px 10px 4px 10px;
	text-align:center;
	color:white;
	border-radius:5px;
}

.avatarImage
{
	position:absolute;
	margin-top:10px;
}

.avatarImage img
{
	border-radius:50%;
}

.profileName
{
	color:#ccc;
	text-align:center;
	font-size:16px;
}

.profileEmail
{
	color:#ccc;
	text-align:center;
	margin-top:-10px;
	font-size:12px;
	font-weight:200
}

.tabSelected
{
	border-bottom:1px solid #03F
}

.profileBackButton
{
	color:white;
	position:absolute;
	top:10px;
	left:10px;
	font-size:20px;
}

.profileTabs
{
	width:100%;
	position:relative;
	margin-top:-5px;
	padding-top:0px;
}

.tab-item
{
	border-bottom:none !important;
}
.tab-item.tab-item-active, .tab-item.active, .tab-item.activated 
{
    color:#315caa;
	font-weight:bold;
	border-bottom:1px solid #315caa !important;
}

.statProfile
{
	padding-right:10px;
	padding-top:10px;
	background-color:white;
}

.statProfile h3
{
	font-size:16px;
	color:#929292;
}

.statProfile h4
{
	font-size:14px;
	color:#434343;
}

.statProfile h4 i
{
	font-size:18px;
	margin-left:5px;
	top:3px;
	position:relative;
}

.profileLine
{
	background-color:#eeeded;
	height:1px;
	width:100%;
	left:43px;
	position:relative
	margin:3px 0 3px 0;
}

#profileInfo
{
	padding:3px 10px 10px 50px;
	font-size:14px;
	line-height:1.4;
}

/*editDealPage*/

.editDealImage
{
	width:100%;
	margin-top:20px;	
}

.editDealImage div
{
	width:90%;
}

.editDealImage div img
{
	border:6px solid white;	
	 -moz-box-shadow: 0 0 3px #999;
	 -webkit-box-shadow: 0 0 3px #999;
     box-shadow: 0 0 3px #999;
}

#imgEditText
{
	text-align:center;
	color:#aaa;
	font-weight:bold;
}

.inputTextEdit
{
	width:100%;
}

.inputTextEdit div
{
	width:90%;
}

.inputTextStyle
{
	width:100%;
	text-align:right;
	padding-right:20px;
	background-color:transparent;
}

.inputLine
{
	width:100%;
	height:1px;
	background-color:#ccd1d5;
}

.saveButton
{
	width:100%;
	border:1px solid #ccd1d5;
	padding:3px 10px 0px 10px;
	height:28px;
	margin-top:3px;
	margin-right:10px;
	text-align:center;
	color:#999;
	border-radius:5px;
}

/* Edit prfile Div*/

.editProfileMain
{
	overflow:hidden;
	width:100%;
}

.editProfileImage
{
	float:left;
	width:30%;
}

.editProfileMainText
{
	float:right;
	width:70%;
	margin-top:20px;
}

.editProfileMainText div
{
	width:95%;
}
